@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <a class="fa fa-linkedin-square fa-2x" href="https://linkedin.com/in/jeremiaslmf"></a>
    <a class="fa fa-github-square fa-2x" href="https://github.com/jeremiaslmf"></a>
</address>
